<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
        
        {% if title %}
        <title>{{ title }} - Crud App</title></div>
        {% else %}
        <title>Crud App</title>
        {% endif %}
         
       
    </head>
    <body>      
            <div class="jumbotron">
               <h1> CRUD APP</h1>
               <div >
               <a href="/cu"> Create </a>
               </div>
               
            </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
  </body>
</html>
